YII_CSRF_TOKEN should be compared in case-insensitive manner

header YII_CSRF_TOKEN should be compared as case-insensitive according to http specification.


https://tools.ietf.org/html/rfc2616#section-4.2
---
4.2 Message Headers

   HTTP header fields, which include general-header (section 4.5),
   request-header (section 5.3), response-header (section 6.2), and
   entity-header (section 7.1) fields, follow the same generic format as
   that given in Section 3.1 of RFC 822 [9]. Each header field consists
   of a name followed by a colon (":") and the field value. Field names
   are case-insensitive. 

Seems that this token is never read from the headers:

Please check this method:
https://github.com/yiisoft/yii/blob/0f136db89eb5b76daf5a9cf4389ee79a4943544b/framework/web/CHttpRequest.php#L1339

Thank you. You are right. Sorry what didn't look source code deeper. So by this way bug exist directly on web site.



So I close this bug.