Bug in CHttpCacheFilter

On the first load of the page is give the expected results

Status Code:200 OK
Cache-Control:max-age=3600, private
Last-Modified:Fri, 06 Jul 2012 02:05:23 -0700

However when reloading the page, the custom cache-control header is not provided causing the default php one to be used. This results in the page not being cached the second time. 

Status Code:304 Not Modified
Cache-Control:no-store, no-cache, must-revalidate, post-check=0, pre-check=0

Looking at RFC 2616 it looks like acceptable options to fix this would include either providing no Cache-Control header response to the 304 (can be achieved through session_cache_limiter() ) or sending the same Cache-Control header as the 200 OK response.

Also, section 10.3.5 of RFC 2616 suggests that the ETag should also be included here. "ETag and/or Content-Location, if the header would have been sent in a 200 response to the same request". I'm not clear on weather the 304 should include the Last-Modified or not.
